<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projekat">
        <activity
            android:name=".MapaActivity"
            android:exported="false" />
        <activity
            android:name=".ManipulacijaLokacijamaActivity"
            android:exported="false" />
        <activity
            android:name=".OmiljeneLokacijeActivity"
            android:exported="false" />
        <activity
            android:name=".VremenskaPrognozaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcijeLokacijeActivity"
            android:exported="false" />
        <activity
            android:name=".TuristickeLokacijeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Projekat" />
        <activity
            android:name=".ui.theme.TuristickeLokacijeActivity"
            android:exported="false"
            android:label="@string/title_activity_turisticke_lokacije"
            android:theme="@style/Theme.Projekat" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Projekat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>